敬！请！期！待！啊啊啊啊啊
<!--
<div class="portlet-body"  ng-controller="WebUrlErrorCtrl">
    <div class="select-refresh-title">
        <div class="title-left">
            <select class="chosen-select" id="appKeySelect" system-select on-change="appKeyChange()">
            </select>
        </div>
        <div class="title-left">
            <i class="fa fa-long-arrow-right"></i>
        </div>
        <div class="title-left sub-chosen-select">
            <select class="chosen-select" id="agentKeySelect" agent-select data="agentList" on-change="agentKeyChange()">
            </select>
        </div>
        <div class="title-right">
            <div class="">
                <div class="pull-right" id="dateRangePicker" date-range-picker on-change="dateRangeChange()">
                </div>
            </div>
        </div>
    </div></br>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="portlet light echart" add-dashboard>
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-question-circle" tool-tip tool-text="应用服务器端每分钟发生的错误或异常数量占总请求数量的百分比"></i><span>错误率</span>
                    </div>
                    <div class="actions">
                        &lt;!&ndash;<a href="javascript:;" class="btn btn-circle btn-icon-only btn-default dashboardBtn" tool-tip tool-type="addDashboard" ng-click="addDashboard()"> <i class="fa fa-plus"></i>
                        </a> &ndash;&gt;
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" tool-tip tool-type="fullScreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="charts" echarts="data1"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="portlet light echart" add-dashboard>
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-question-circle" tool-tip tool-text="应用服务器端每分钟发生的错误或异常数量占总请求数量的百分比"></i><span>错误码分布</span>
                    </div>
                    <div class="actions">
                        &lt;!&ndash;<a href="javascript:;" class="btn btn-circle btn-icon-only btn-default dashboardBtn" tool-tip tool-type="addDashboard"> <i class="fa fa-plus"></i>
                        </a>&ndash;&gt;
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" tool-tip tool-type="fullScreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="charts" echarts="data2"></div>
                </div>
            </div>
        </div>
    </div>

    <h4 class="sub-title">Web请求错误一览</h4>
    <table class="table" id="WebErrorTable">
        <thead class="thead-bg">
            <tr>
                <th>URL</th>
                <th style="width: 110px;">时间戳</th>
                <th style="width: 60px;">错误码</th>
                <th>错误信息</th>
                <th style="width: 170px;">所属web实例</th>
                <th style="width: 170px;">所属app实例</th>
                <th style="width: 60px;">日志详情</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>-->
