<div class="portlet-title page-content-title">
    <div class="caption">
        <i class="icon-share hide"></i>
            <span class="caption-subject uppercase">
            慢SQL追踪
            </span>
    </div>
</div>

<div class="portlet-body">
    <div class="portlet light bordered">
        <div class="row"></br>
            <div class="col-md-8 col-sm-8">
                <ul style="list-style-type: none">
                    <li>调用者：SpringController/split.do (GET)</li>
                    <li>所属应用：java01</li>
                    <li>时间戳：2015-09-08 10:47:07</li>
                    <li>所属host：192.168.0.1:fserver01:8080</li>
                    <li>耗时：859ms</li>
                </ul>
            </div>
<!--            <div class="col-md-4 col-sm-4" style="font-size: 16px; color: #158f76">
                <a><i class="fa fa-hand-o-left"></i></a>  共有N条追踪信息
                <a><i class="fa fa-hand-o-right"></i></a>
            </div>-->
        </div>
    </div>

    <div class="portlet light bordered">
        <div class="popover-title">
            <div class="caption">
                <a class="caption-subject font-green-sharp uppercase" href="javascript:;">
                    完整SQL语句：
                </a>
            </div>
        </div>
        <div class="portlet-body">
            文本
        </div>
    </div>

    <div class="portlet light bordered">
        <div class="popover-title">
            <div class="caption">
                <a class="caption-subject font-green-sharp uppercase" href="javascript:;">
                    执行计划
                </a>
            </div>
        </div>
        <div class="portlet-body">
            文本
            <!--<img src="images/temp/sqldetail.png" />-->
        </div>
    </div>
</div>