敬！请！期！待！啊啊啊啊啊

<!--
<div class="portlet-body" ng-controller="ExtServiceCtrl">
    <div class="serach-select">
        <div class="order-select">
            <span>选择排序</span>
            <span>
                <select id="selectTreeOrder_ext">
                    <option value="extservice_time">平均响应时间</option>
                    <option value="extservice_tps">吞吐率</option>
                </select>
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="selectTree tree" id="select-tree-id"></div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="portlet light echart">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-question-circle tool-tip" data-tip="前5分最耗时的外部应用，最耗时的依据为外部服务的响应总时间"></i><span>Top5 外部服务响应时间</span>
                    </div>
                    <div class="actions">
                        &lt;!&ndash;<a href="javascript:;" class="btn btn-circle btn-icon-only btn-default tool-tip dashboardBtn" data-tip-type="addDashboard" ng-click="addDashboard()"> <i class="fa fa-plus"></i>
                        </a>&ndash;&gt;
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen tool-tip" data-tip-type="fullScreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="charts" echarts="data1"></div>
                </div>
            </div>
            <div class="portlet light echart">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="fa fa-question-circle tool-tip" data-tip="外部应用每分钟调用次数"></i><span>吞吐率</span>
                    </div>
                    <div class="actions">
                        &lt;!&ndash;<a href="javascript:;" class="btn btn-circle btn-icon-only btn-default tool-tip dashboardBtn" data-tip-type="addDashboard" ng-click="addDashboard()"> <i class="fa fa-plus"></i>
                        </a>&ndash;&gt;
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen tool-tip" data-tip-type="fullScreen"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="charts" echarts="data2"></div>
                </div>
            </div>
        </div>
    </div>







</div>-->
